.kc {
    display: flex;
    flex-direction: column;
}

.kc--overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 1rem;
    background-color: #000000bb;
    z-index: 214748364; /* Max value is 2147483647 */

    display: none;
    flex-direction: column;
    align-items: center;

    &--show {
        display: flex;
    }
}

.kc--dialog--wrapper {
    padding: 2rem 0;
    margin: auto;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.kc--dialog {
    background: #fff;
    border-radius: .5rem;
    padding: 1rem;
    margin: auto 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &--body {
        overflow-y: auto;
        flex: 1;
    }

    &--buttons {
        margin-top: 1rem;
        display: flex;
        justify-content: space-evenly;
    }

    &--button {
        background: none;
        border: none;
        border-bottom: 1px solid #ddd;
        outline: none;
        font-size: 1rem;
        font-family: inherit;
        color: #666;
        cursor: pointer;
        margin: 0 .25rem;
        padding: .5rem;

        &:hover {
            border-bottom: 1px solid #666;
            color: #222;
        }

        &:focus, &:active {
            outline: none;
        }

        &::-moz-focus-inner {
            border: none;
        }
    }

    &--title {
        text-align: center;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    &--select-list {
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            cursor: pointer;
            padding: .5rem;
            margin: .5rem 0;
            color: #666;

            &:hover {
                color: #222;
            }

            &.active {
                color: #222;
                border-left: 2px solid $successGreen;
            }
        }
    }
}

.kc--notifications-container {
    position: fixed;
    margin: 1rem;
    right: 0;
    bottom: 0;
    z-index: 10000;
    max-width: 60%;
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: $mediumScreenWidth) {
        max-width: 40%;
    }

    @media (min-width: $bigScreenWidth) {
        max-width: 25%;
    }

    .kc--notification {
        @include noselect;

        margin-top: .5rem;
        background: #fff;
        border-radius: .5rem;
        padding: 1rem;
        box-shadow: 0 0 .75rem #999;
        cursor: pointer;
        word-wrap: break-word;

        &.info { border-bottom: 3px solid $infoBlue; }
        &.error { border-bottom: 3px solid $dangerRed; }
        &.success { border-bottom: 3px solid $successGreen }

        animation: fadein .5s;
    }

    @keyframes fadein {
        from { opacity: 0; }
        to { opacity: 1; }
    }
}

.kc--os-overlay {
    z-index: 2147483647; /* Max value is 2147483647 */
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    padding: 1rem;
    background-color: #000000bb;
    color: #ffffff;
    text-shadow: 0 0 1px #000000;
    transform: translateY(-150%);

    &--actions {
        background-color: #fff;
        border-radius: 1rem;
        padding: 1rem;
        opacity: 0;
        transition: opacity ease-in-out .2s;
    }

    &--show {
        @include noselect;
        transform: translateY(0%);

        .kc--os-overlay--actions {
            opacity: 100;
        }
    }

    &--btn-link {
        display: inline-block;
        background: none;
        border: none;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        outline: none;
        font-size: 1rem;
        font-family: inherit;
        line-height: normal;
        color: #444 !important;
        text-shadow: none;
        cursor: pointer;
        margin: 0 .25rem;
        padding: .25rem;
        text-align: inherit;
        border-radius: 0;

        /* Corrects font smoothing for webkit */
        -webkit-font-smoothing: inherit;
        -moz-osx-font-smoothing: inherit;

        /* Corrects inability to style clickable `input` types in iOS */
        -webkit-appearance: none;

        &:hover {
            border-bottom: 2px solid $infoBlue;
            color: #222;
        }

        &:focus, &:active {
            outline: none;
        }

        &::-moz-focus-inner {
            border: 0;
            padding: 0;
        }
    }
}

.kc--panel {
    @include noselect;

    z-index: 2147483647; /* Max value is 2147483647 */
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    background: #222;
    color: #ddd;
    font-size: .9rem;
    white-space: nowrap;

    &--left {
        flex: 1;
    }

    &--btn-link, &--app-title {
        padding: .25rem;
        margin: 0 .25rem;
    }

    &--btn-link {
        background: none;
        border: none;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        outline: none;
        font-family: inherit;
        font-size: inherit;
        color: #ddd;
        cursor: pointer;

        &:hover {
            border-bottom: 2px solid $infoBlue;
            color: #fff;
        }

        &:focus, &:active {
            outline: none;
        }

        &::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

        /* Corrects font smoothing for webkit */
        -webkit-font-smoothing: inherit;
        -moz-osx-font-smoothing: inherit;

        /* Corrects inability to style clickable `input` types in iOS */
        -webkit-appearance: none;

        &:focus, &:active {
            outline: none;
        }
    }

    &--right {
        margin-left: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}