.koti-cloud-sdk-ui--overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 1rem;
    background-color: #000000bb;
    z-index: 9999999999;
    overflow-y: auto;

    display: none;
    justify-content: center;
    align-items: safe center;

    &.show {
        display: flex;
    }
}

.koti-cloud-sdk-ui--dialog {
    background: #fff;
    border-radius: .5rem;
    padding: 1rem;
    margin: auto 0;
    max-width: 100%;

    &--buttons {
        margin-top: 1rem;
        display: flex;
        justify-content: space-evenly;
    }

    &--button {
        background: none;
        border: none;
        border-bottom: 1px solid #ddd;
        outline: none;
        font-size: 1rem;
        font-family: inherit;
        color: #666;
        cursor: pointer;
        margin: 0 .25rem;
        padding: .5rem;

        &:hover {
            border-bottom: 1px solid #666;
            color: #222;
        }

        &:focus, &:active {
            outline: none;
        }

        &::-moz-focus-inner {
            border: none;
        }
    }

    &--title {
        text-align: center;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    &--select-list {
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            cursor: pointer;
            padding: .5rem;
            margin: .5rem 0;
            color: #666;

            &:hover {
                color: #222;
            }

            &.active {
                color: #222;
                border-left: 2px solid $successGreen;
            }
        }
    }
}

.koti-cloud-sdk-ui--notifications-container {
    position: fixed;
    margin: 1rem;
    right: 0;
    bottom: 0;
    z-index: 10000;
    max-width: 50%;
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: $mediumScreenWidth) {
        max-width: 40%;
    }

    @media (min-width: $bigScreenWidth) {
        max-width: 25%;
    }

    .koti-cloud-sdk-ui--notification {
        @include noselect;

        margin-top: .5rem;
        background: #fff;
        border-radius: .5rem;
        padding: 1rem;
        box-shadow: 0 0 .75rem #999;
        cursor: pointer;

        &.info { border-bottom: 3px solid $infoBlue; }
        &.error { border-bottom: 3px solid $dangerRed; }
        &.success { border-bottom: 3px solid $successGreen }

        animation: fadein .5s;
    }

    @keyframes fadein {
        from { opacity: 0; }
        to { opacity: 1; }
    }
}