/* 
 * The default Koti Cloud app style. To enable import this file inside your app.
 */
:root {
    // Colors
    --kc-color--bg-main: #f9f9f9;
    --kc-color--text-main: #363636;

    --kc-color--bg-secondary: #efefef;
    --kc-color--bg-secondary-hover: #d9d9d9;
    --kc-color--text-secondary: #666666;

    --kc-color--text-pale: #999999;

    --kc-color--bg-accent-darker: #1d7ca7;
    --kc-color--bg-accent-dark: #2d8db8;
    --kc-color--bg-accent: #1c9cd6;
    --kc-color--bg-accent-light: #2fa4d9;
    --kc-color--bg-accent-lighter: #53b4df;
    --kc-color--text-accent: #ffffff;

    --kc-color--danger-red: #cc0000;
    --kc-color--success-green: #99d418;
}

.kc {
    display: flex;
    flex-direction: column;
    background: var(--kc-color--bg-main);
    color: var(--kc-color--text-main);

    a {
        color: $infoBlue;
    }
}